{% extends "admin/base.html.twig" %}

{%  block css %}
    {{ parent() }}
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
{% endblock %}

{%  block javascripts %}
    {{ parent() }}
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
{% endblock %}

{% block body %}
    <div class="wrapper-page">
        <div class="container">

            <div class="row">
                <div class="col-xs-12 col-md-6 col-md-offset-3 ">



                        <h2>Coordonnées</h2>
                        <div class="form-group">
                            <label for="civilite" class="control-label">Civilité :</label>
                           <div>{{ candidature.civility }}</div>
                        </div>
                        <div class="form-group">
                            <label for="nom" class="control-label">Nom :</label>
                            <div>{{ candidature.name|upper }}</div>
                        </div>
                        <div class="form-group">
                            <label for="prenom" class="control-label">Prénom :</label>
                            <div>{{ candidature.firstname|capitalize}}</div>
                        </div>

                        <div class="form-group">
                            <label for="email" class="control-label">E-mail :</label>
                            <div>{{ candidature.email }}</div>
                        </div>
                        <div class="form-group">
                            <label for="video" class="control-label">Téléphone :</label>
                            <div>{{ candidature.tel|phone }}</div>

                        </div>
                        <hr/>
                        <h2>Adresse</h2>
                        <div class="form-group">

                            <b>{{ candidature.civility }} {{ candidature.firstname|capitalize}} {{ candidature.name|upper }}</b>
                            <div>{{ candidature.ad1 }}</div>
                            <div>{{ candidature.ad2 }}</div>
                            <div>{{ candidature.ad3 }}</div>
                            <div>{{ candidature.zipcode }} {{ candidature.city }}</div>
                            <div>{{ candidature.country}}</div>
                        </div>

                        <hr/>
                        <h2>Candidature</h2>

                    <div class="row">
                        <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
                            <div style="background-image:url('/{{ candidature.path_pic_fit }}');"
                                 class="square-pic-candidature"></div>
                        </div>
                    </div>


                    {% if candidature.presentation!=''  %}
                        <hr />
                        <p>{{ candidature.presentation_nl2br|raw }} </p>
                    {% endif %}

                    {% if candidature.url_video!=''  %}
                        <hr />
                        <p class="text-center"><a href="{{ candidature.url_video }}"  target="_blank" class="btn btn-default"> Voir la vidéo </a></p>
                    {% endif %}

                    {#{%  if candidature.path_certificate!=''  %}
                    <p class="text-center">
                    <a href="/{{ candidature.path_certificate }}" download="attestation.pdf" class="btn btn-primary btn-block"><i class="fa fa-file-pdf-o pull-left" aria-hidden="true"></i> Télécharger PDF</a>
                    </p>
                    {%  endif %}#}

                    {%  if candidature.path_idcard!=''  %}
                        <a href="/{{ candidature.path_idcard }}"  download="{{ candidature.path_idcard|basename }}"  class="btn btn-primary btn-block"><i class="fa fa-file-pdf-o pull-left" aria-hidden="true"></i> Carte Identité</a>
                    {%  else %}
                        <button disabled  class="btn btn-default btn-block" ><i class="fa fa-file-pdf-o pull-left" aria-hidden="true"></i> Carte Identité</button>
                    {% endif %}

                    {%  if candidature.path_criminal_record !=''  %}
                        <a href="/{{ candidature.path_criminal_record }}" download="{{ candidature.path_criminal_record|basename }}" class="btn btn-primary btn-block"><i class="fa fa-file-pdf-o pull-left" aria-hidden="true"></i> Extrait casier judiciaire</a>
                    {%  else %}
                        <button disabled  class="btn btn-default btn-block" ><i class="fa fa-file-pdf-o pull-left" aria-hidden="true"></i> Extrait casier judiciaire</button>
                    {% endif %}



                </div>
            </div>
            {%  if candidature.state=='offline'  %}
            <div class="row m-b-x4 m-t-x2">
                <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">

                    <label for="linkedit" class="control-label">Lien d'édition :</label>
                    <div class="input-group">
                        <input type="text" class="form-control jsSelectOnClick" readonly id="linkedit"
                               value="{{ ConfigService.get("urlSite") }}/candidature/form.html?id={{ candidature.id }}&key={{ candidature.key_edit }}">
                        <span class="input-group-btn">
    <a href="{{ ConfigService.get("urlSite") }}/candidature/form.html?id={{ candidature.id }}&key={{ candidature.key_edit }}"
       class="btn btn-default"><i class="fa fa-pencil-square-o"></i> Editer</a>
  </span>

                    </div>
                </div>

            </div>
            {% endif %}









            <div class="row ">
                <div class="col-xs-12 col-md-6 col-md-offset-3 ">


                    <hr />

                    <!-- Pour l'instant on ne demande pas d'attestation d'inscription aux listes électorales -->
                    <!-- <div class="m-t">
                        <label class="checkbox-inline">
                            <input type="checkbox" class="jsSwitchAjax" {%  if candidature.is_certificate=='1'  %}checked{% endif %} data-toggle="toggle" data-url="/candidature/certificate-valid.json" data-param="id={{ candidature.id }}"> Attestation VALIDE
                        </label>
                    </div> -->
                    <div class="m-t">
                        <label class="checkbox-inline">
                            <input type="checkbox" class="jsSwitchAjax" {%  if candidature.is_idcard=='1'  %}checked{% endif %} data-toggle="toggle" data-url="/candidature/idcard-valid.json" data-param="id={{ candidature.id }}"> Carte ID VALIDE
                        </label>
                    </div>
                    <div class="m-t">
                        <label class="checkbox-inline">
                            <input type="checkbox" class="jsSwitchAjax" {%  if candidature.is_criminal_record=='1'  %}checked{% endif %} data-toggle="toggle" data-url="/candidature/criminal-record-valid.json" data-param="id={{ candidature.id }}"> Extrait judiciaire VALIDE
                        </label>
                    </div>
                    <hr />

                    <div class="row m-t-x4">
                        <div class="col-xs-6 ">
                            <a href="javascript:void(0);" class="btn btn-danger  click-send-ajax-confirm" data-modal-title="Confirmation"  data-modal-body="Êtes-vous sûr de vouloir supprimer définitivement cette candidature ? <br> <i>En cas de doutes, il est préférable de simplement passer cette canidature hors ligne.</i><p class='m-t-x2'><b>A NOTER : Cette intervention n'efface pas complétement les données en base</b></p>" data-modal-confirm="Supprimer"  data-modal-cancel="Annuler" data-url="/candidature/delete.json" data-param='{"id":"{{ candidature.id }}","from":"fiche"}'  ><i class="fa fa-trash" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-xs-6">
                            <label class="checkbox-inline" >
                                <input type="checkbox" class="jsSwitchAjax" {%  if candidature.state=='online'  %}checked{% endif %} data-onstyle="success"  data-toggle="toggle" data-url="/candidature/state.json" data-param="id={{ candidature.id }}"> EN LIGNE
                            </label>
                        </div>
                    </div>

                </div>
                </div>
        </div>
        <div class="row m-t-x4">
                    <div class="m-t text-center">
                    <a href="/candidature/list.html" class="btn btn-primary ">Retour</a>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}
