{% extends "admin/base.html.twig" %}

{%  block css %}
    {{ parent() }}
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
{% endblock %}

{%  block javascripts %}
    {{ parent() }}
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
{% endblock %}

{% block body %}
    <div class="wrapper-page">
        <div class="container">
            <div class="row m-b-x4">
                <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">

                    <label for="linkedit" class="control-label">Lien d'édition :</label>
                    <div class="input-group">
                        <input type="text" class="form-control jsSelectOnClick" readonly id="linkedit"
                               value="{{ ConfigService.get("urlSite") }}/candidature/form.html?id={{ candidature.id }}&key={{ candidature.key_edit }}">
                        <span class="input-group-btn">
    <a href="{{ ConfigService.get("urlSite") }}/candidature/form.html?id={{ candidature.id }}&key={{ candidature.key_edit }}"
       class="btn btn-default"><i class="fa fa-pencil-square-o"></i> Editer</a>
  </span>

                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
                    <h3>{{ candidature.firstname }}</h3>
                    <h2>{{ candidature.city }}({{ candidature.zipcode }})</h2>
                </div>
                <div class="col-xs-12 col-md-6 col-md-offset-3 m-t-x4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et dictum ipsum, sed pretium est.
                        Vestibulum congue nunc nec velit dictum ultricies eu eget eros. Nulla facilisi. Aliquam egestas
                        vehicula nunc, at ultrices mauris pellentesque a. Phasellus bibendum malesuada sollicitudin.
                        Mauris eu lectus et mi finibus egestas. Suspendisse quis est ac leo viverra tempus pretium non
                        nisi. Donec sem nisi, tristique et pellentesque id, commodo convallis nunc. Nulla imperdiet id
                        urna eu condimentum. Sed id eleifend libero, vel vehicula arcu.</p>

                    <p>Suspendisse sollicitudin orci non ante sodales scelerisque. Nullam egestas, libero ac dictum
                        pretium, neque erat tempus nisi, ut porttitor risus arcu et urna. Sed aliquet efficitur tortor,
                        id dignissim tortor cursus eu. Etiam lacinia ut nunc id luctus. Aliquam porta, mi sed ultrices
                        laoreet, augue lacus mattis erat, vel porta ligula libero sit amet magna. Phasellus gravida eros
                        sit amet mauris facilisis, sed rutrum est gravida. Sed fermentum tortor id odio euismod, et
                        feugiat augue dignissim. Cras dolor augue, accumsan id commodo ac, scelerisque vitae purus. Ut
                        fringilla elementum congue. Donec mattis erat risus, eget dignissim nibh tempor id. Vivamus
                        sagittis sem vel feugiat malesuada. Suspendisse blandit id sem a feugiat. Nulla facilisi. Nam
                        eget turpis sit amet mi tempus efficitur. Maecenas sed ex faucibus, iaculis justo in, congue
                        libero.</p>

                    <p>Quisque sit amet dui nisl. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
                        per inceptos himenaeos. Cras laoreet, nisl nec tincidunt fermentum, ex tortor ultricies mauris,
                        in sagittis mi augue vitae velit. Aliquam interdum urna quis porta ornare. Nullam nisl orci,
                        rhoncus quis laoreet id, interdum vitae dui. Donec eget condimentum quam. Pellentesque luctus
                        felis lectus, id consequat dolor hendrerit a.</p>
                    <p>Nullam in dui lobortis, dignissim massa eget, fringilla magna. Vivamus accumsan risus sed enim
                        pulvinar, eu varius risus cursus. Nulla velit elit, ultricies et leo sed, facilisis efficitur
                        dolor. Mauris tristique commodo ligula. Aenean pellentesque neque volutpat, mollis mauris ac,
                        suscipit ex. Nam laoreet, diam sit amet porttitor mollis, elit neque consectetur eros, sed
                        accumsan nunc diam ac mi. Fusce pretium pharetra aug, id venenatis eros mattis in. Pellentesque
                        at ante nunc</p>
                </div>
                <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
                    <div class="m-t-x4 m-b-x4">


                        <a href="javascript:void(0);" class="btn btn-danger btn-block click-send-ajax-confirm" data-modal-title="Confirmation"  data-modal-body="Êtes-vous sûr de vouloir supprimer définitivement cette candidature ? <br> <i>En cas de doutes, il est préférable de simplement passer cette canidature hors ligne.</i><p class='m-t-x2'><b>A NOTER : Cette intervention n'efface pas complétement les données en base</b></p>" data-modal-confirm="Supprimer"  data-modal-cancel="Annuler" data-url="/candidature/delete.json" data-param='{"id":"{{ candidature.id }}","from":"fiche"}'  ><i class="fa fa-trash" aria-hidden="true"></i> Supprimer</a>
                    </div>
                    <div class="p-t-x4 p-b-x4">
                        <label class="checkbox-inline">
                            <input type="checkbox" class="jsSwitchAjax" {%  if candidature.state=='online'  %}checked{% endif %} data-onstyle="success"  data-toggle="toggle" data-url="/candidature/state.json" data-param="id={{ candidature.id }}"> EN LIGNE
                        </label>
                    </div>
                    <div class="m-t-x4">
                        <label class="checkbox-inline">
                            <input type="checkbox" class="jsSwitchAjax" {%  if candidature.is_certificate=='1'  %}checked{% endif %} data-toggle="toggle" data-url="/candidature/certificate-valid.json" data-param="id={{ candidature.id }}"> ATTESTATION VALIDE
                        </label>
                    </div>
                    <a href="/candidature/list.html" class="btn btn-primary btn-lg">Retour</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
