{% extends "visitor/base.html.twig" %}


{% block body %}
    <div class="wrapper-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
                    <h2>{{ candidature.firstname|capitalize }} {{ candidature.name|first|upper }}
                        .<br/>
                        <small>{{ candidature.city }} ({{ candidature.zipcode }})</small>
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
                    <div style="background-image:url('/{{ candidature.path_pic_fit }}');"
                         class="square-pic-candidature"></div>
                </div>
            </div>
            <div class="row">

                <div class="col-xs-12 col-md-6 col-md-offset-3 ">
                    {% if candidature.presentation!=''  %}
                        <hr />
                        <p>{{ candidature.presentation_nl2br|raw }} </p>
                    {% endif %}

                    {% if candidature.url_video!=''  %}
                        <hr />
                        <p class="text-center"><a href="{{ candidature.url_video }}"  target="_blank" class="btn btn-default"> Voir la vidéo </a></p>
                    {% endif %}
                </div>

            </div>
        </div>
        <div class="text-center p-t-x4 p-b-x4">
            <div class="fb-share-button" data-href="{{ urlPage }}" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ urlPageEncoded }}&amp;src=sdkpreparse">Partager</a></div>
        </div>
    </div>
{% endblock %}