{% extends "visitor/base.html.twig" %}


{% block body %}
    <div class="wrapper-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h1>Les {{ candidatures|length }} volontaires pour être candidat·e·s #MAVOIX</h1>
                    <p>Allez à la rencontre de ces femmes et de ces hommes. Chacun·e raconte une part du chemin de<br/> cette expérimentation démocratique que nous inventons ensemble.</p>
                    <p>Le 6 mai, à Paris, un tirage au sort désignera les candidat·e·s <a href="https://www.mavoix.info">#MAVOIX</a> aux législatives parmi ces volontaires. <br/><a title="Formulaire de candidatures" href="/">Les candidatures sont ouvertes</a> jusqu'au 25 avril à minuit.</p>
                </div>
                <div class="row">
                    {% for candidature in candidatures %}
                        <div class="col-xs-6 col-md-4 col-lg-3 p-t-x2">
                            <form method="get" action="/candidature/candidat.html">
                                <input type="hidden" name="id" value="{{ candidature.id }}" >
                                <button type="submit" class="no-button">
                                    <div class="text-center sticker-name">
                                        <h3>{{ candidature.firstname|capitalize }}<br/>
                                            <small>{{ candidature.city }} ({{ candidature.zipcode }})</small>
                                        </h3>
                                    </div>
                                    <div style="background-image:url('/{{ candidature.path_pic_fit }}');"
                                         class="square-pic-candidature"></div>
                                </button>
                            </form>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
