{% extends "visitor/base.html.twig" %}

{% block meta %}
    {{ parent() }}
    <meta property="og:title" content="#MAVOIX - Candidature de {{ candidature.firstname|ucwords }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ urlPage }}"/>
    <meta property="og:image" content="{{ urlSite }}/{{ candidature.path_pic_fit }}"/>
    <meta property="og:description"
          content="{% if candidature.presentation=='' %}Candidature de {{ candidature.firstname|ucwords }}.{% else %}{{ candidature.getPresentation_Meta }}{% endif %}"/>
    <meta name="description"
          content="{% if candidature.presentation=='' %}Candidature de {{ candidature.firstname|ucwords }}.{% else %}{{ candidature.getPresentation_Meta }}{% endif %}"/>
    <!-- TWITTER --->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@MAVOIX2017">
    <meta name="twitter:creator" content="@MAVOIX2017">
    <meta name="twitter:title" content="#MAVOIX - Candidature de {{ candidature.firstname|ucwords }}">
    <meta name="twitter:description" content="{% if candidature.presentation=='' %}Candidature de {{ candidature.firstname|ucwords }}.{% else %}{{ candidature.getPresentation_Meta }}{% endif %}">
    <meta name="twitter:image" content="{{ urlSite }}/{{ candidature.path_pic_fit }}">
{% endblock %}

{% block css %}
    {{ parent() }}
    {% if oMe.type=='admin' %}
        <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if oMe.type=='admin' %}
        <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    {% endif %}
{% endblock %}


{% block body %}
    <div class="wrapper-page">
    <div class="container">
        {% if candidature.state=='offline' %}
            <div class="row">
                <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
                    <h2>Candidat hors-ligne<br/>
                        <small>Visibile uniquement par les administrateurs</small>
                    </h2>
                    <hr/>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
                <h2>{{ candidature.firstname|ucwords }}<br/>
                    <small>{{ candidature.city|capitalizefirst }} ({{ candidature.zipcode }})</small>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
                <div style="background-image:url('/{{ candidature.path_pic_fit }}');"
                     class="square-pic-candidature"></div>
            </div>
        </div>
        <div class="row">

            <div class="col-xs-12 col-md-6 col-md-offset-3 ">
                {% if candidature.presentation!='' %}
                    <hr/>
                    <p>{{ candidature.presentation_nl2br|raw }} </p>
                {% endif %}

                {% if candidature.url_video!='' %}
                    <p><a href="{{ candidature.url_video }}" target="_blank" class="text-primary"> Voir la vidéo
                            de {{ candidature.firstname|ucwords }}</a></p>
                {% endif %}
            </div>

        </div>
    </div>
    {% if candidature.state=='online' %}
        <div class="text-center p-t-x4 p-b-x4">
            <div class="fb-share-button" data-href="{{ urlPage }}" data-layout="button" data-size="large"
                 data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank"
                                              href="https://www.facebook.com/sharer/sharer.php?u={{ urlPageEncoded }}&amp;src=sdkpreparse">Partager</a>
            </div>
        </div>
    {% endif %}

    {% if oMe.type=='admin' %}
        <div class="container">
            <div class="row ">
                <div class="col-xs-12 col-md-6 col-md-offset-3 ">
                  <div class="row">

                    <hr/>

                    <!-- Pour l'instant on ne demande pas d'attestation d'inscription aux listes électorales -->
                    <!-- <div class="m-t">
                        <label class="checkbox-inline">
                            <input type="checkbox" class="jsSwitchAjax" {% if candidature.is_certificate=='1' %}checked{% endif %} data-toggle="toggle" data-url="/candidature/certificate-valid.json" data-param="id={{ candidature.id }}"> Attestation VALIDE
                        </label>
                    </div> -->
                    <div class="m-t">
                    <a href="{{ ConfigService.get("urlSite") }}/candidature/form.html?id={{ candidature.id }}&key={{ candidature.key_edit }}"
                                class="btn btn-info btn-block"   >Éditer</a>
                    </div>
                  </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="m-t">
                          <a href="/{{ candidature.path_idcard }}" target="_blank" class="btn btn-block btn-primary"><i class="fa fa-file-pdf-o pull-left" aria-hidden="true"></i> ID</a>
                              {%  if candidature.path_idcard_verso !=''  %}
                              <a href="/{{ candidature.path_idcard_verso }}" target="_blank" class="btn btn-block btn-primary"><i class="fa fa-file-pdf-o pull-left" aria-hidden="true"></i> ID verso</a>
                              {% endif %}
                        </div>

                      </div>
                      <div class="col-md-6">
                        <div class="m-t">
                        {%  if candidature.path_criminal_record !=''  %}
                              <a href="/{{ candidature.path_criminal_record }}" target="_blank" class="btn btn-block btn-primary"><i class="fa fa-file-pdf-o pull-left" aria-hidden="true"></i> Extrait casier</a>
                        {%  else %}
                            <button disabled  class="btn btn-default btn-block" ><i class="fa fa-file-pdf-o pull-left" aria-hidden="true"></i> Extrait casier</button>
                        {% endif %}
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="m-t">
                            <label class="checkbox-inline">
                                <input type="checkbox" class="jsSwitchAjax"
                                       {% if candidature.is_idcard=='1' %}checked{% endif %} data-toggle="toggle"
                                       data-url="/candidature/idcard-valid.json" data-param="id={{ candidature.id }}"> Carte ID valide
                            </label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="m-t">
                          <label class="checkbox-inline">
                              <input type="checkbox" class="jsSwitchAjax" data-onstyle="success" {%  if candidature.path_criminal_record !=''  %} data-param="id={{ candidature.id }}" data-url="/candidature/criminal-record-valid.json" {% endif %} {% if candidature.is_criminal_record=='1' and candidature.path_criminal_record !=''%}checked{% endif %} data-toggle="toggle"> Extrait casier valide
                          </label>
                        </div>
                      </div>
                    </div>
                    <hr/>

                    <div class="row m-t-x4">
                        <div class="col-xs-6 ">
                            <a href="javascript:void(0);" class="btn btn-danger  click-send-ajax-confirm"
                               data-modal-title="Confirmation"
                               data-modal-body="Êtes-vous sûr de vouloir supprimer définitivement cette candidature ? <br> <i>En cas de doutes, il est préférable de simplement passer cette canidature hors ligne.</i><p class='m-t-x2'><b>A NOTER : Cette intervention n'efface pas complétement les données en base</b></p>"
                               data-modal-confirm="Supprimer" data-modal-cancel="Annuler"
                               data-url="/candidature/delete.json"
                               data-param='{"id":"{{ candidature.id }}","from":"fiche"}'>
                               <i class="fa fa-trash" aria-hidden="true">
                               </i> Supprimer</a>
                        </div>
                        <div class="col-xs-6">
                            <label class="checkbox-inline">
                                <input type="checkbox" class="jsSwitchAjax"
                                       {% if candidature.state=='online' %}checked{% endif %} data-onstyle="success"
                                       data-toggle="toggle" data-url="/candidature/state.json"
                                       data-param="id={{ candidature.id }}"> En ligne
                            </label>
                        </div>
                        <div class="col-xs-12 col-md-6 col-md-offset-3 ">
                          <div class="m-t">
                            <a href="{{ ConfigService.get("urlSite") }}/candidature/list.html#{{ candidature.id }}"
                                        class="btn btn-info btn-block"   ><< Retour à la liste</a>
                          </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </div>
    {% endif %}
    </div>
{% endblock %}
