{% extends "visitor/base.html.twig" %}

{% block meta %}
    {{ parent() }}
    <meta property="og:title" content="#MAVOIX - Candidature" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ urlPage }}" />
    <meta property="og:image" content="{{ urlSiteHTTP }}/{{ candidature.path_pic_fit }}" />
    <meta property="og:description" content="{% if candidature.presentation==''  %} Candidature de {{ candidature.firstname|capitalize }}.{% else %} {{ candidature.presentation }} {% endif %}" />
    <meta name="description" content="{% if candidature.presentation==''  %} Candidature de {{ candidature.firstname|capitalize }}.{% else %} {{ candidature.presentation }} {% endif %}" />
{% endblock %}

{% block body %}
    <div class="wrapper-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
                    <h2>{{ candidature.firstname|capitalize }}<br/>
                        <small>{{ candidature.city|capitalize }} ({{ candidature.zipcode }})</small>
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
                    <div style="background-image:url('/{{ candidature.path_pic_fit }}');"
                         class="square-pic-candidature"></div>
                </div>
            </div>
            <div class="row">

                <div class="col-xs-12 col-md-6 col-md-offset-3 ">
                    {% if candidature.presentation!=''  %}
                        <hr />
                        <p>{{ candidature.presentation_nl2br|raw }} </p>
                    {% endif %}

                    {% if candidature.url_video!=''  %}
                        <p ><a href="{{ candidature.url_video }}"  target="_blank" class="text-primary"> Voir la vidéo de {{ candidature.firstname|capitalize }}</a></p>
                    {% endif %}
                </div>

            </div>
        </div>
        <div class="text-center p-t-x4 p-b-x4">
            <div class="fb-share-button" data-href="{{ urlPage }}" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ urlPageEncoded }}&amp;src=sdkpreparse">Partager</a></div>
        </div>
    </div>
{% endblock %}
