{% extends "visitor/base.html.twig" %}


{% block body %}
    <div class="wrapper-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6 col-md-offset-3">
                    <form action="/candidature/save.json" id="formcandidature" method="post" autocomplete="off"
                          data-ajax="true"
                          enctype="multipart/form-data">
                        {% if candidature.id!='' %}
                            <input type="hidden" id="id" name="id" value="{{ candidature.id }}"/>
                            <input type="hidden" id="key" name="key" value="{{ key }}"/>
                        {% endif %}
                        <h1>Candidature #MAVOIX</h1>
                        <hr/>
                        <h2>Coordonnées</h2>
                        <div class="form-group">
                            <label for="civilite" class="control-label">Civilité : *</label>
                            <select id="civilite" name="civilite" class="form-control">
                                <option value="">Choisir ...</option>
                                <option value="M." {% if candidature.civility=='M.' %} selected {% endif %}>M.</option>
                                <option value="Mme." {% if candidature.civility=='Mme' %} selected {% endif %}>Mme
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="nom" class="control-label">Nom : *</label>
                            <input type="text" class="form-control" id="nom" name="nom"
                                   value="{{ candidature.name|upper }}"
                                   placeholder="Nom">
                        </div>
                        <div class="form-group">
                            <label for="prenom" class="control-label">Prénom : *</label>
                            <input type="text" class="form-control" id="prenom" name="prenom"
                                   value="{{ candidature.firstname|capitalize }}"
                                   placeholder="Prénom">
                        </div>

                        <div class="form-group">
                            <label for="email" class="control-label">E-mail : *</label>
                            <input type="email" class="form-control" id="email" name="email"
                                   value="{{ candidature.email }}"
                                   placeholder="xxxxxx@xxxxx.com ">
                        </div>
                        <div class="form-group">
                            <label for="video" class="control-label">Téléphone : *</label>
                            <div class="input-group">
                                <div class="input-group-addon">+33(0)</div>
                                <input type="text" class="form-control" id="tel" name="tel" placeholder="XXXXXXXXX"
                                       value="{{ candidature.tel }}">
                            </div>
                            <p class="help-block form-text text-muted">
                                Ne pas saisir le 0 de l'indicatif.</p>
                        </div>
                        <hr/>
                        <h2>Adresse</h2>
                        <div class="form-group">
                            <label for="ad1" class="control-label">Adresse champ 1 : *</label>
                            <input type="text" class="form-control" id="ad1" name="ad1"
                                   placeholder="N° | type de voie | nom de la voie" value="{{ candidature.ad1 }}">
                        </div>
                        <div class="form-group">
                            <label for="ad2" class="control-label">Adresse champ 2 :</label>
                            <input type="text" class="form-control" id="ad2" name="ad2" value="{{ candidature.ad2 }}"
                                   placeholder="Immeuble, Résidence, Z.I ...">
                        </div>
                        <div class="form-group">
                            <label for="ad3" class="control-label">Adresse champ 3 :</label>
                            <input type="text" class="form-control" id="ad3" name="ad3" value="{{ candidature.ad3 }}"
                                   placeholder="BP, TSA, Lieu dit">
                        </div>
                        <div class="form-group">
                            <label for="cp" class="control-label">Code postal : *</label>
                            <input type="text" class="form-control" id="cp" name="cp" value="{{ candidature.zipcode }}"
                                   placeholder="XXXXX">
                        </div>
                        <div class="form-group">
                            <label for="ville" class="control-label">Ville : *</label>
                            <input type="text" class="form-control" id="ville" name="ville"
                                   value="{{ candidature.city }}"
                                   placeholder="Nom de la ville">
                        </div>
                        <hr/>
                        <h2>Témoignage/Présentation</h2>
                        <div class="form-group">
                            <label for="imagefile" class="control-label">Photo : *</label>

                            <div class="input-group image-preview">
                                <input type="file" accept="image/jpeg" name="image" id="imagefile"/>
                                <input type="hidden" id="imageData" name="imageData"
                                       value="{% if candidature.path_pic!='' %}{{ base64image }}{% endif %}"/>
                                <input type="hidden" id="imageFilename" name="imageFilename"
                                       value="{% if candidature.path_pic!='' %}{{ nameimage }}{% endif %}"/>
                                <input type="text" class="form-control image-preview-filename" disabled="disabled">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default image-preview-clear"
                                            style="display:none;">
                                        <span class="fa fa-times"></span>
                                    </button>
                                    <div class="btn btn-default image-preview-input">
                                        <span class="fa fa-folder-open"></span>
                                        <span class="image-preview-input-title">Choisir</span>
                                        <input type="hidden" name="MAX_FILE_SIZE"
                                               value="{{ ConfigService.get("max-filesize")*1024*1024 }}"/>
                                    </div>
                                </span>
                            </div>

                            <div class="drop-zone"
                                 style="{%  if candidature.path_pic!='' %}background-image:url('/{{ candidature.path_pic }}'){% endif %}"></div>

                        </div>

                        <div class="form-group">
                            <label for="presentation" class="control-label">Texte de présentation :</label>
                            <textarea class="form-control" rows="8" id="presentation"
                                      name="presentation"> {{ candidature.presentation }}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="video" class="control-label">Lien vidéo : </label>

                                <input type="text" class="form-control" id="video" name="video"
                                       placeholder="http://www.lienversvotrevideo.com" value="{{ candidature.url_video }}">

                            <p class="help-block form-text text-muted">
                                Youtube, Vimeo ou Dailymotion (lien complet avec http..)</p>
                        </div>
                        <hr/>
                        <h2>Engagements</h2>
                        <div class="form-group ">
                            <div class="checkbox">
                                <label class="control-label">
                                    <input id="engagement-1" value="ok" type="checkbox"
                                           name="engagement-1" {{ checkedengagement }}>
                                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                </label>
                                <label class="label-checkbox" for="engagement-1">Engagement 1 : Lorem ipsum dolor sit
                                    amet, consectetur adipiscing elit. Integer euismod vitae erat in sagittis. Praesent
                                    dictum, libero non auctor consequat, velit felis venenatis nibh</label>
                            </div>
                        </div>
                        <hr/>
                        <div class="form-group ">
                            <div class="checkbox">
                                <label class="control-label">
                                    <input id="engagement-2" value="ok" type="checkbox"
                                           name="engagement-2" {{ checkedengagement }}>
                                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                </label>
                                <label class="label-checkbox" for="engagement-2">Engagement 2 : Lorem ipsum dolor sit
                                    amet, consectetur adipiscing elit. Integer euismod vitae erat in sagittis. Praesent
                                    dictum, libero non auctor consequat, velit felis venenatis nibh</label>
                            </div>
                        </div>
                        <hr/>
                        <div class="form-group ">
                            <div class="checkbox">
                                <label class="control-label">
                                    <input id="engagement-3" value="ok" type="checkbox"
                                           name="engagement-3" {{ checkedengagement }}>
                                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                </label>
                                <label class="label-checkbox" for="engagement-3">Engagement 3 : Lorem ipsum dolor sit
                                    amet, consectetur adipiscing elit. Integer euismod vitae erat in sagittis. Praesent
                                    dictum, libero non auctor consequat, velit felis venenatis nibh</label>
                            </div>
                        </div>
                        <hr/>
                        <h2>Documents joints <small>(PDF, JPG ou PNG)</small></h2>
                        <div class="form-group">

                            <label for="idcard" class="control-label">Copie de votre carte d'identité recto/verso ou de votre passeport
                                :</label>


                            <input type="file" class="form-control" accept="application/pdf, image/*" id="idcard"
                                   name="idcard">
                            {%  if candidature.path_idcard!=''  %}
                                <div class="text-danger">Un fichier a déja été envoyé lors de l'inscription. Si vous envoyez un nouveau fichier celui-ci sera remplacé.</div>
                            {%  endif %}
                        </div>
                        <div class="form-group">

                            <label for="criminal_record" class="control-label">Extrait de casier judiciaire B3 :</label>

                            <div class="help-block">Ce document peut être téléchargé sur <a href="https://www.cjn.justice.gouv.fr/cjn/b3/eje20" target="_blank" class="text-primary">ce site Web</a></div>
                            <input type="file" class="form-control" accept="application/pdf, image/*" id="criminal_record"
                                   name="criminal_record">

                            {%  if candidature.path_criminal_record!=''  %}
                                <div class="text-danger">Un fichier a déja été envoyé lors de l'inscription. Si vous envoyez un nouveau fichier celui-ci sera remplacé.</div>
                            {%  endif %}
                        </div>

                        {#<div class="form-group">
                            <p>Si vous disposez déjà de votre attestation d'inscription à une liste électorale</p>
                            <label for="attestation" class="control-label">Attestation d’inscription liste électorale
                                :</label>


                            <input type="file" class="form-control" accept="application/pdf" id="attestation"
                                   name="attestation">
                            {%  if candidature.path_certificate!=''  %}
                                <div class="text-danger">Un fichier a déja été envoyé lors de l'inscription. Si vous envoyez un nouveau fichier celui-ci sera remplacé.</div>
                            {%  endif %}
                        </div>#}
                        <hr/>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary ">
                                {% if candidature.id!='' %}
                                    Enregistrer
                                {% else %}
                                    Envoyer ma candidature
                                {% endif %}
                            </button>
                        </div>
                        {% if oMe.type=='admin' %}
                            <div class="text-center p-t-x4 p-b-x4">
                                <button type="button" class="btn btn-primary jsBackButton">
                                    Retour
                                </button>
                            </div>
                        {% endif %}
                        <div class="text-center p-t-x4 p-b-x4">
                            <div class="fb-share-button" data-href="{{ urlPage }}" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ urlPageEncoded }}&amp;src=sdkpreparse">Partager</a></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}