{% extends "visitor/base.html.twig" %}

{% block meta %}
    <meta property="og:title" content="Candidatures #MAVOIX - Législatives 2017"/>
    <meta property="og:description" content="Allez à la rencontre de ces femmes et de ces hommes. Chacun·e raconte une part du chemin de cette expérimentation démocratique que nous inventons ensemble. Le 6 mai, à Paris, un tirage au sort désignera les candidat·e·s #MAVOIX aux législatives."/>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ urlPage }}" />
    <meta property="og:image" content="{{ ConfigService.get("urlSite") }}/css/images/image-panneaux.png" />
{% endblock %}
{%  block css %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <style>
        .leaflet-popup-content-wrapper {
            width:250px;
        }
    </style>
{% endblock %}


{% block body %}
    <div id="mapleaflet" style="width:100%;height:100%;"></div>
{% endblock %}

 {% block javascripts %}
     <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
     <script>
         var markerList=[];

         {% for candidature in candidatures %}
            markerList[{{ loop.index-1 }}]=[{{ candidature.lat }},{{ candidature.lng }},"<a href='/candidature/candidat.html?id={{ candidature.id }}' style='color:#000000;'><div style='float:left;width:50px;height:50px;background-position:center;background-size:cover;background-image:url(/{{ candidature.path_pic_fit }});' ></div><div class='text-center '><h3 class='no-margin'>{{  candidature.firstname|ucwords }}<br/><small>{{ candidature.city|capitalizefirst }} ({{ candidature.zipcode }})</small></h3></div></a>"];
         {%  endfor %}
     </script>
     <script src="/js/leafletembed.js"></script>
 {% endblock %}
