  <h1>Félicitations et bienvenue à bord de l’expérimentation démocratique inédite #MAVOIX ! Nous sommes heureux de vous accueillir !</h1>

<p>Votre candidature sera mise en ligne dans les heures qui viennent par les bénévoles qui s’en occupent chaque jour. Il n’y a aucun critère de sélection hormis la validation de tous les points de l’engagement que vous prenez.</p>

<p>Vous pouvez modifier votre candidature si vous avez oublié quelque chose ou que vous avez trouvé une meilleure photo : <strong><a href="{{ ConfigService.get("urlSite") }}/candidature/form.html?id={{ candidature.id }}&key={{ candidature.key_edit }}">modifier votre candidature</a></strong>, avant le 2 mai.</p>

<h2>Ce qu’il vous reste à faire désormais</h2>

<h3 id="casierjudiciaire">Envoyer votre extrait de casier judiciaire 3B :</h3>
<p>Si vous ne l'avez pas encore fait, envoyez-nous votre extrait de casier judiciaire 3B <strong>avant le 2 mai</strong>&nbsp;:</p>
<ol>
  <li>demandez à <a href="https://www.cjn.justice.gouv.fr/cjn/b3/eje20" target="_blank">cette adresse</a> à ce que l'extrait de casier judiciaire vous soit envoyé par courrier</li>
  <li>lorsque vous l'aurez reçu, numérisez (scannez) le document</li>
  <li>faites le nous parvenir <a href="{{ ConfigService.get("urlSite") }}/candidature/form.html?id={{ candidature.id }}&key={{ candidature.key_edit }}">en éditant votre formulaire de candidature</a></li>
</ol>

<h3 id="vousrapprocherdungroupelocalmavoix">Vous rapprocher d'un groupe local #MAVOIX</h3>

<p>Consultez <a href="https://framacarte.org/fr/map/mavoix-groupes-locaux_6179#6/46.604/1.934">la liste des collectifs locaux #MAVOIX déjà constitués</a>. Merci de prendre contact avec le collectif plus proche de chez vous pour vivre votre propre expérience et aider comme chacune et chacun d'entre nous à co-construire #MAVOIX. Chaque semaine, des douzaines de réunions publiques sont organisées sur le territoire, vous y êtes plus que les bienvenu·e.</p>

<p>Sinon, vous pouvez vous joindre à nous sur <a href="https://forum.mavoix.info">le forum en ligne</a>.</p>

<h3 id="prparervotredplacementparispourletirageausort">Préparer votre déplacement à Paris pour le tirage au sort</h3>

<p>Organiser votre voyage pour être présent·e le 6 mai 2017 au plus grand tirage au sort de l’Histoire (en tous les cas depuis les Grecs anciens ;-)). </p>
<p><strong>Quand ?</strong> Le 6 mai, de 9h30 à 14h</p>
<p><strong>Où ?</strong><br/>
Le Toit<br/>
34, quai d'Austerlitz<br/>
Accès Personne à mobilité réduite aux n° 32 (rampe d'accès) et 36 (élevateur)<br/>
75013 Paris<br/>
Métros Gare d'Austerlitz ou Quai de la Gare</p>

<p>Ce déplacement est à votre charge. Plus vous vous y prenez tôt, moins ce sera cher. Nous communiquerons dans les semaines à venir des propositions de co-voiturage et d’hébergement chez l’habitant dans la mesure du possible.</p>

<h3 id="fairelaformationenligne">Faire la formation en ligne</h3>

<p>Nous vous invitons à suivre une session de cours en ligne de 20 minutes par jour sur 7 jours à l'heure qui vous conviendra, du 27 mars au 2 avril ou du 28 avril au 4 mai. Ce cours a été préparé par des bénévoles pour que vous soyez à l’aise dans votre futur rôle de député·e #MAVOIX, très spécial et innovant. Ne vous inquiétez pas, ici, il n’est pas question d’évaluer des compétences, mais d’accorder du temps à sa citoyenneté et à la compréhension des règles. C’est comme au foot, impossible de jouer et de gagner si on ne connaît pas les règles du jeu ;-) (nous vous enverrons le lien vers la formation en ligne lorsqu'elle sera prête)</p>

<h3 id="unpourtoustouspourun">Un pour tous, tous pour un</h3>

<p>Nous serons toujours à vos côtés pour que nous apprenions ensemble, les uns des autres, à être des citoyen·ne·s à part entière : actrices et acteurs des lois. Vous ne serez jamais seul·e dans cette aventure. Nous sommes des centaines de femmes et d’hommes aux services des uns et des autres. C’est aussi ce qui est rare et singulier dans #MAVOIX.</p>

<p>Nous vous inviterons aussi, et c’est optionnel, à faire une visite de l’Assemblée nationale, et faire ainsi des repérages dans notre future maison commune ;-)</p>

<h3 id="lesdatesretenir">Les dates à retenir</h3>

<p>Un week-end est organisé le 25 et 26 mars à Béziers (<a href="https://www.facebook.com/events/1675392412760183/">détails de l'évènement</a>). Vous y êtes chaleureusement invité·e. Si vous le pouvez, ce sera avec joie !</p>

<p>Trois autres dates à bloquer dans votre agenda :</p>

<ul>
<li>samedi 6 mai - tirage au sort (présence obligatoire) </li>

<li>lundi 15 mai si vous êtes tiré·e au sort pour déposer votre candidature au premier tour à la préfecture de la circonscription où vous aurez été désigné·e de manière aléatoire, accompagné·e du collectif #MAVOIX local pour vos démarches et ouvrir le compte de campagne avec le·la mandataire financier formé·e par le collectif qui se charge de trouver la banque.</li>

<li>lundi 12 juin si vous êtes candidat·e dans une circonscription où #MAVOIX s’est qualifié pour le second tour </li>
</ul>

<p>Et bien sûr le dimanche 18 juin pour une gigantesque fête décentralisée sur le territoire pour se féliciter les un·e·s les autres pour le travail incroyable accompli et préparer la suite ;-) !</p>

<p>Vous êtes celle ou celui que nous attendions aujourd'hui : bravo et merci.</p>

<h3 id="noussommescellesetceuxquenousattendions">#NousSommesCellesetCeuxqueNousAttendions</h3>

<p>Signé : les femmes et les hommes qui font #MAVOIX</p>
